<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<html>
    <head>
        <title>Router Example</title>
        <script type="text/javascript" src="jslibs/jquery-1.9.0.js"></script>
        <script type="text/javascript" src="jslibs/underscore-min.js"></script>
        <script type="text/javascript" src="http://ajax.cdnjs.com/ajax/libs/backbone.js/0.3.3/backbone-min.js"></script>
    </head>
    <body>
        <script id="personTemplate" type="text/template">
            <strong><%= name %></strong> (<%= age %>) - <%= work %>
        </script>
        <script src="js/mainModel.js"></script>
    </body>
</html>
